extends dashboard_layout
block content
      .w3-col.m10(style="height: 100%; overflow: auto;")
        .w3-row
          .w3-col.m12
            .w3-card-4.w3-margin.w3-white
              .w3-row
                .w3-col.m4
                    header.w3-container 
                      h6 
                        b Database Info
                      table.w3-table(id="statusTable")

                .w3-col.m8.graph
                    header.w3-container
                      h6 
                        b Users Connected
                      .dashboard_sessions_graph
            .w3-col.m4
              .w3-card-4.w3-white.w3-margin
                header.w3-container
                  h6 
                    b Memory
                  .dashboard_memory_pie
            .w3-col.m4
              .w3-card-4.w3-white.w3-margin
                header.w3-container
                  h6 
                    b CPU
                  .dashboard_cpu_pie
            .w3-col.m4
              .w3-card-4.w3-white.w3-margin
                header.w3-container 
                  h6 
                    b Storage
                  .storage_pie
            .w3-col.m12
              .w3-card-4.w3-white.w3-margin
                  header.w3-container 
                        h6 
                            b Last SQL Commands
                  .w3-container(style="overflow: auto;height: 70%;")
                      table.w3-table.w3-bordered#sql_commands
                        tr
                          th Comando
                          th SQL ID
                          th Schema
