doctype html
html
  head
    title DBA Dashboard
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow", rel="stylesheet")
    script(src="https://d3js.org/d3.v5.min.js")
    script(src='/javascripts/c3.min.js')
    script(src='/javascripts/graphs.js')
  body.w3-theme
    block content
