doctype html
html
  head
    title DBA Dashboard
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/c3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow", rel="stylesheet")
    script(src="https://d3js.org/d3.v5.min.js")
    script(src='/javascripts/c3.min.js')
    script(src='/javascripts/graphs.js')
  body.w3-theme
    w3-row
    .w3-col.m2.w3-theme-d3.sidebar
        .w3-bar-block
            img(src="/images/dba_dash_logo.png" style="width: 30%").w3-margin
            a(href="/").w3-bar-item.w3-button Dashboard
            a(href="/users").w3-bar-item.w3-button Users
            a(href="/tablespaces").w3-bar-item.w3-button Tablespaces
            a(href="/datafiles").w3-bar-item.w3-button Datafiles
            a(href="/roles").w3-bar-item.w3-button Roles
    block content
