extends layout

block content
      .w3-col.m10
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-check-circle
                |  Role #{role.role}
        .w3-container.w3-section
            .w3-col.m12
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b Role   Info
                        table.w3-table
                            tr
                                td Name
                                td= role.role
                            tr
                                td Authentication Type
                                td= role.authentication_type
            .w3-col.m12 
                .w3-card-4.w3-white.w3-margin
                    header.w3-container 
                        h6 
                            b Granted to
                        .role_user_table