extends layout

block content
      .w3-col.m10(style="height: 80%;")
        header.w3-container.w3-border-bottom
            h1 
                i.fas.fa-check-circle
                |  Roles
        .w3-container.w3-section.w3-border-bottom(style="overflow: auto;height: 100%;")
            table.w3-table.w3-bordered.w3-hoverable(style=" height: 100%; width: 100%;")
                tr
                    th ID 
                    th Role Name
                    th Authentication Type
                    th 
                each role in roles
                    tr
                        td= role.role_id
                        td= role.role
                        td= role.authentication_type
                        td
                            a(href="/roles/" + role.role_id)
                                i.fas.fa-eye
                            