table.w3-table.w3-border.w3-bordered.w3-hoverable
    tr
        th Datafile
        th Size (Mb)
        th Max Size (Mb)
        th
    for datafile in datafiles
        tr 
            td= datafile.datafile_name 
            td= datafile.size.toFixed(2)
            td= datafile.max_size.toFixed(2)
            td
                a(href="/datafiles/" + datafile.datafile_id)
                    i.fas.fa-eye
                