table.w3-table.w3-border.w3-bordered.w3-hoverable
    .w3-row
        for role in roles
            .w3-col.m4.w3-center
                a.w3-button(href="/roles/" + role.role_id)
                    h6= role.role
